.section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pitx-description{
    background-color: lime;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 5%;
}

.pitx-description-header{
    font: 300 2vw 'Roboto', sans-serif;
    text-align: left;
    color: #4F6F52;
}