body{
    background-color: rgb(241, 255, 240);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    background-color: white;
    height: fit-content;
    width: 85%;
    padding-block: 1%;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    
}
.navTitleContainer{
    height: fit-content;
    width: 35%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.navTitleContainer h1, .navTitleContainer h2{
    margin: 0;
}
.navTitleContainer h1{
    margin-top: 3%;
    color: #EF4040;
    font: 400 4.25vw 'Josefin Sans', sans-serif;
}

.navTitleContainer h2{
    color: green;
    font: 400 2vw 'Bebas Neue', sans-serif;
}
nav ul{
    padding-block: 1%;
    margin-block: 1%;
    background-color: #4F6F52;
    border-radius: 5vw;
    list-style-type: none;
    overflow: hidden;
    width: 75%;
}
nav li{
    display: inline;
}
nav a{
    color: white;
    font: 300 1.25vw 'Roboto';
    margin: 0;
    text-align: center;
    text-decoration: none;
    transition-duration: 200ms;
    padding: 3% 3%;
}
nav a:hover{
    color: black;
    background-color: white;
}
.activePage{
    background-color: white;
    color: black;
}

/* --------------------------------- GLOBAL CLASSES --------------------------------- */

.section {
    background-color: white;
    height: fit-content;
    width: 85%;
    padding-bottom: 0;
}

h1, h2, h3, p{
    margin: 0;
}

/* --------------------------------- HOME PAGE --------------------------------- */

.gallery{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    transition: 200ms;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    margin: 0 auto;
}

.gallery div img:hover{
    transform: scale(1.05);
}

#backBtn, #nextBtn{
    cursor: pointer;
    margin: 1vw;
    transition: 200ms;
    width: 3vw;
}

#backBtn:hover, #nextBtn:hover{
    transform: scale(1.1);
}

#backBtn:active, #nextBtn:active{
    transform: scale(1);
}

#bookBtn{
    background-color: #4F6F52;
    border: none;
    border-radius: 2vw;
    color: white;
    font: 400 1.5vw 'Roboto', sans-serif;
    margin-block: 3%;
    padding-block: 1vw;
    padding-inline: 3.5vw;
    transition: 100ms;
    animation: bookBtnAnim 1s ease 0s 1 normal forwards;
}

@keyframes bookBtnAnim {
    0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

    #bookBtn:hover{
        background-color: white;
        color: #4F6F52;
        cursor: pointer;
        outline: 0.25vw solid #4F6F52;
    }
    
    #bookBtn:active{
        transform: scale(0.95);
    }

/* --------------------------------- ABOUT SECTION --------------------------------- */

#about{
    font: 300 1.25vw 'Roboto';
    margin: 0;
}

/* --------------------------------- BUS COACHES SECTION --------------------------------- */

.busCoaches{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;   
    margin: 5% 0 3% 0;
    width: 100%;
}

.busCoaches h1{
    color: #4F6F52;
    font: 400 5vw 'Bebas Neue', sans-serif;
}

.busClass{
    border:0.25vw solid #4F6F52;
    border-radius: 5vw;
    width: 50vw;
}

.busClass td{
    font: 300 1.25vw 'Roboto';
    padding-block: 1%;
    border-radius: 5vw;
    width: 50vw;
    transition: 200ms;
}
    .busClass td:hover{
        background-color: #4F6F52;
        color: white;
        cursor: pointer;
    }

    .busClassNavActive{
        background-color: #4F6F52;
        color: white;
    }

.busClassSection{
    height: fit-content;
    display: none;
}

.showContent{
    display: block;
}

.busClassSection h1{
    font: 300 2vw 'Roboto';
    animation: busClassSectionH1 1s ease 0s 1 normal forwards;
}

@keyframes busClassSectionH1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.busClassInfo{
    margin-inline: 2.5%;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 1vw;
    font: 300 1.25vw 'Roboto';
}

.busClassInfo td{
    border: 0.25vw solid #4F6F52;
    padding: 2%;
    width: 35%;
}

.busClassSection img{
    border-radius: 1vw;
    margin-inline: 2.5%;
    height: 27vw;
    width: 35vw;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

    @keyframes myAnim {
        0% {
            opacity: 0;
            transform: translateX(50px);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

.busClassContent{
    margin-block: 3%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactInfo{
    height: fit-content;
    padding: 5%;
}

.contactInfo h1{
    font: 400 5vw 'Bebas Neue', sans-serif;
    color: #4F6F52;
    margin-block: 1%;
}

.contactInfo img{
    width: 85%;
    border-radius: 1vw;
}

.contactInfoMapContainer{
    margin-block: 1%;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
}

.contactInfoMapContainer img{
    opacity: 1;
    display: block;
    width: 80%;
    height: auto;
    backface-visibility: hidden;
    transition: 200ms;
}

.contactInfoMapButton{
    opacity: 0;
    position: absolute;
    text-align: center;
}

.contactInfoMapContainer:hover img {
    opacity: 0.5;
  }

.contactInfoMapContainer:hover .contactInfoMapButton {
    opacity: 1;
    transition-duration: 200ms;
}

.contactInfoMapButton button{
    background-color: #4F6F52;
    border: none;
    border-radius: 2vw;
    color: white;
    font: 400 1vw 'Roboto', sans-serif;
    margin-block: 3%;
    padding-block: 1vw;
    padding-inline: 3.5vw;
}

.contactInfoMapButton button:hover{
    cursor: pointer;
    transition-duration: 100ms;
    transform: scale(1.05);
}

.contactInfoMapButton button:active{
    transform: scale(1);
}
  
.contactInfo h2, .contactInfo p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.contactInfo h2{
    margin: 5% 0 2% 0;
    font-size: 2.5vw;
}

.contactInfo p{
    font-size: 1.25vw;
    margin-block: 1%;
}

footer{
    background-color: #4F6F52;
    width: 100%;
    height: fit-content;
    padding: 3%;

}
footer p{
    color: white;
    font: 300 1vw 'Roboto';
}