.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homeGallery{
    width: 95%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2.5vw 0;
}

.homeGallery div{
    height: fit-content;
    width: 90%;
    overflow: scroll;
    overflow-y: hidden;
    display: flex;
    scroll-behavior: smooth;
}

.homeGallery div img{
    height: 20vw;
    width: 25vw;
    margin-inline: 0.5vw;
    display: inline-flex;
    border-radius: 2vw;
}

.homeGallery div::-webkit-scrollbar{
    display: none;
}

.galleryBtn{
    height: 3.5vw;
    width: 3.5vw;
    margin-inline: 1vw;
    transition: 200ms;
    cursor: pointer;
}

.galleryBtn:hover{
    transform: scale(1.1);
}

.galleryBtn:active{
    transform: scale(1);
}

#bookBtn{
    animation: bookBtnAnim 1s ease 0s 1 normal forwards;
    background-color: #4F6F52;
    border: none;
    border-radius: 0.75vw;
    color: white;
    cursor: pointer;
    font: 400 1.25vw 'Roboto', sans-serif;
    padding-block: 1vw;
    padding-inline: 3.5vw;
    transition: 100ms;
}

#bookBtn:hover{
    background-color: white;
    color: #4F6F52;
    cursor: pointer;
    outline: 0.25vw solid #4F6F52;
}

#bookBtn:active{
    transform: scale(0.95);
}

#about{
    margin: 2.5vw 0 0 0;
}

.busCoaches{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;   
    margin: 5% 0 3% 0;
    width: 100%;
}

.busClass{
    border:0.25vw solid #4F6F52;
    border-radius: 5vw;
    width: 50vw;
}

.busClass td{
    font: 300 1.25vw 'Roboto';
    padding-block: 1%;
    border-radius: 5vw;
    width: 50vw;
    transition: 200ms;
}
    .busClass td:hover{
        background-color: #4F6F52;
        color: white;
        cursor: pointer;
    }

    .busClassNavActive{
        background-color: #4F6F52;
        color: white;
    }

.busClassSection{
    height: fit-content;
    display: none;
}

.showContent{
    display: block;
}

.busClassSection h2{
    animation: fadeIn 1s ease 0s 1 normal forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.busClassInfo{
    margin-inline: 2.5%;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 1vw;
    font: 300 1.25vw 'Roboto';
}

.busClassInfo td{
    border: 0.25vw solid #4F6F52;
    padding: 2%;
    width: 35%;
}

.busClassSection img{
    border-radius: 1vw;
    margin-inline: 2.5%;
    height: 27vw;
    width: 35vw;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

    @keyframes myAnim {
        0% {
            opacity: 0;
            transform: translateX(3vw);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

.busClassContent{
    margin-block: 3%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------- CONTACT US --------------------------------- */

.contactInfo{
    height: fit-content;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactInfo img{
    width: 85%;
    border-radius: 1vw;
}

.contactInfoMapContainer{
    margin-block: 1%;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
}

.contactInfoMapContainer img{
    opacity: 1;
    display: block;
    width: 80%;
    height: auto;
    backface-visibility: hidden;
    transition: 200ms;
}

.contactInfoMapButton{
    opacity: 0;
    position: absolute;
    text-align: center;
}

.contactInfoMapContainer:hover img {
    opacity: 0.5;
}

.contactInfoMapContainer:hover .contactInfoMapButton {
    opacity: 1;
    transition-duration: 200ms;
}

.contactInfoMapButton button{
    background-color: #4F6F52;
    border: none;
    border-radius: 2vw;
    color: white;
    font: 400 1vw 'Roboto', sans-serif;
    margin-block: 3%;
    padding-block: 1vw;
    padding-inline: 3.5vw;
}

.contactInfoMapButton button:hover{
    cursor: pointer;
    transition-duration: 100ms;
    transform: scale(1.05);
}

.contactInfoMapButton button:active{
    transform: scale(1);
}

.contactInfo h2{
    margin: 2% 0 0.5% 0;
}

.contactInfo p{
    margin-block: 0.5%;
}