@media only screen and (max-width: 426px) {
    .pitx-description p{
        width: 100%;
        margin: 0 0 5% 0;
    }

    .pitx-gallery{
        width: 95%;
        scroll-snap-type: x mandatory;
        margin: 0 0 10% 0;
    }

    .pitx-gallery img{
        height: 60vw;
        width: 85vw;
        margin-inline: 0.5%;
        scroll-snap-align: center;
    }

    .pitx-location{
        margin: 0 0 10% 0;
    }

    .pitx-location p {
        margin-block: 1.5%;
    }

    .pitx-location-map{
        width: 100%;
        margin: 0 0 5% 0;
    }

    .pitx-location-btn button{
        font-size: 16px;
        padding-inline: 25px;
        padding-block: 10px;
        border-radius: 100px;
        opacity: 100%;
    }

    .pitx-location-btn button:hover{
        transform: scale(1);
    }

    .pitx-location-btn{
        opacity: 1;
    }

    .pitx-location-map:hover img{
        opacity: 1;
    }

    .section h1{
        font-size: 36px;
        line-height: 100%;
        width: 90%;
        margin: 0 0 3% 0;
    }

    .table-style{
        margin: 0 0 10% 0;
        width: 90%;
    }

    .table-style th, .table-style td{
        font-size: 16px;
    }
}