@media only screen and (max-width: 426px) {
    .section{
        width: 100vw;
    }

    .homeGallery{
        margin: 0 0 7.5vw 0;
    }

    .homeGallery div{
        width: 100%;
        scroll-snap-type: x mandatory;
    }

    .homeGallery div img{
        height: 70vw;
        width: 85vw;
        margin-inline: 1.5vw;
        scroll-snap-align: center;
    }

    .galleryBtn{
        display: none;
    }

    #bookBtn{
        font-size: 16px;
        padding-block: 3vw;
        padding-inline: 30vw;
        border-radius: 2vw;
        margin-block: 5vw;
    }

    #about{
        width: 90%;
        margin-block: 5vw;
    }

    /* ##################################################### */
    
    .busClass{
        width: 90%;
        border: 0.5vw solid #4F6F52;
        border-radius: 50px;
    }

    .busClass td{
        padding-block: 2%;
        font-size: 16px;
    }

    .busClassContent{
        flex-direction: column-reverse;
    }
    
    .busClassContent img{
        height: 70vw;
        width: 85vw;
        border-radius: 5vw;
        margin: 0 0 10% 0;
        animation: fadeBottom 1s ease 0s 1 normal forwards;
    }

    @keyframes fadeBottom {
        0% {
            opacity: 0;
            transform: translateY(3vw);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .busClassSection h2{
        font-size: 5vw;
        margin-bottom: 5%;
    }

    .busClassInfo{
        border: 0.5vw solid #4F6F52;
        margin: 0 0 5% 0;
    }

    .busClassInfo td{
        font-size: 4vw;
        border: 0.5vw solid #4F6F52;
    }

    /* ##################################################### */

    .contactInfo{
        width: 90%;
        margin-bottom: 5%;
    }

    .contactInfoMapContainer img{
        width: 90vw;
    }

    .contactInfoMapButton button{
        font-size: 4vw;
        padding: 5% 10vw 5% 10vw;
        border-radius: 5vw;
    }

    .contactInfoMapButton{
        opacity: 100%;
    }
}