/* --------------------------------- GLOBAL CLASSES --------------------------------- */

body{
    background-color: #f1fff0;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    overflow-x: hidden;
}

.section {
    background-color: white;
    height: fit-content;
    width: 85%;
    padding-bottom: 0;
}

.sectionPart{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3, p, pre{
    margin: 0;
}

h1{    
    color: #4F6F52;
    font: 400 5vw 'Bebas Neue', sans-serif;
}

h2{
    font: 400 1.25vw 'Roboto';  
}

p, pre{
    font: 300 1.25vw 'Roboto';
}

a{
    color: #4F6F52;
    text-decoration: none;
    transition-duration: 500ms;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: #4F6F52;
    height: fit-content;
    padding: 3%;
}

footer p{
    color: white;
    font: 300 1vw 'Roboto';
}

/* --------------------------------- NAVIGATION BAR --------------------------------- */

.mobile-navbar{
    display: none;
}

nav{
    background-color: white;
    height: fit-content;
    width: 85%;
    padding-block: 1%;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
}

.navTitleContainer{
    height: fit-content;
    width: 35%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.navTitleContainer h1, .navTitleContainer h2{
    margin: 0;
}

.navTitleContainer h1{
    margin-top: 3%;
    color: #EF4040;
    font: 400 4.25vw 'Josefin Sans', sans-serif;
}

.navTitleContainer h2{
    color: green;
    font: 400 2vw 'Bebas Neue', sans-serif;
}

nav ul{
    padding-block: 1%;
    margin-block: 1%;
    background-color: #4F6F52;
    border-radius: 5vw;
    list-style-type: none;
    overflow: hidden;
    width: 75%;
}

nav li{
    display: inline;
}

nav a{
    color: white;
    font: 300 1.25vw 'Roboto';
    margin: 0;
    text-align: center;
    text-decoration: none;
    transition-duration: 200ms;
    padding: 3% 3%;
}

nav a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}

.activePage{
    background-color: white;
    color: black;
}

footer{
    background-color: #4F6F52;
    width: 100%;
    height: fit-content;
    padding: 3%;
}
footer p{
    color: white;
    font: 300 1vw 'Roboto';
    margin: auto;
}