.sectionPart p{
    width: 80%;
    margin-block: 1%;
}

.location-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1% 0 1% 0;
    margin: 0 0 5% 0;
}

.terminalBlock{
    height: fit-content;
    width: 80%;
    display: none;
    padding-block: 1%;
    animation: fadeIn 500ms ease 0s 1 normal forwards;
}

.terminalBlock p{
    margin: 0.5%;
}

@keyframes fadeIn {
	0% {opacity: 0;}
    100% {opacity: 1;}
}

.showTerminalBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sectionPart h2{
    margin: 2% 0 1% 0;
}


.terminalMap{
    width: 70%;
    border-radius: 2vw;
}

.terminalMap:hover {
    cursor: pointer;
}

.terminalNavBar{
    border: 0.25vw solid #4F6F52;
    border-radius: 5vw;
    margin-top: 5%;
}

.terminalNav{
    border-radius: 5vw;
    padding-block: 1%;
    font: 300 1.15vw 'Roboto', sans-serif;
    width: 10vw;
    transition-duration: 200ms;
}

.terminalNavActive{
    background-color: #4F6F52;
    color: white;
}

.terminalNav:hover{
    background-color: #4F6F52;
    color: white;
    cursor: pointer;
}

.locationBtnDiv button{
    background-color: #4F6F52;
    border: none;
    border-radius: 2vw;
    color: white;
    font: 400 1vw 'Roboto', sans-serif;
    margin-block: 3%;
    padding-block: 1vw;
    padding-inline: 3.5vw;
    width: fit-content;
    transition-duration: 100ms;
}

.locationBtnDiv button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.locationBtnDiv{
    height: inherit;
    width: inherit;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 200ms;
}

.terminalMapImage{
    border-radius: 2vw;
    height: 100%;
    width: 100%;
    position: relative;
}

.locationSubDiv{
    position: relative;
    background-color: gray;
    border-radius: 2vw;
    height: 70%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
}

.locationSubDiv:hover .terminalMapImage{
    opacity: 50%;
}

.locationSubDiv:hover .locationBtnDiv{
    opacity: 100%;
}